:root {
  /* Colors: */
  --color-050e50: #050e50;
  --color-ffffff: #ffffff;
  --color-648ca6: #648ca6;
  --color-000000: #000000;
  --color-dde4eb: #dde4eb;
  --color-dbdbdb: #dbdbdb;
  --color-00AF00: #00af00;
  --color-dadae3: #dadae3;
  --color-f3f3f3: #f3f3f3;
  --color-2b80ff: #2b80ff;
  --color-12af00: #12af00;
  --color-ff9900: #ff9900;
  --color-495463: #495463;
  --color-1458e8: #1458e8;
  --color-1de1ac: #1de1ac;
  --color-001737: #001737;
  --color-bbbbbb: #bbbbbb;
  --color-212529: #212529;
  --color-bfccda: #bfccda;
  --color-f2545b: #f2545b;
  --color-ffbe0d: #ffbe0d;
  --color-8338eb: #8338eb;
  --color-e5e9f2: #e5e9f2;
  --color-8798ad: #8798ad;
  --color-b0bac9: #b0bac9;
  --color-2e384d: #2e384d;
  --color-9aa1a9: #9aa1a9;
  --color-505d6f: #505d6f;
  --color-1c2c42: #1c2c42;
  --color-5e6875: #5e6875;
  --color-185bdd: #185bdd;

  /* Font/text values */
  --font-family-roboto-medium: Roboto-Medium;
  --font-family-roboto-regular: Roboto-Regular;
  --font-family-rubik-regular: Rubik-Regular;
  --font-family-rubik-medium: Rubik-Medium;
  --font-family-montserrat-medium: Montserrat-Medium;
  --font-family-interui-medium: InterUI-Medium;
  --font-family-interui-bold: InterUI-Bold;
  --font-family-poppins-medium: Poppins-Medium;
  --font-family-interui-regular: InterUI-Regular;
  --font-family-poppins-semibold: Poppins-SemiBold;
  --font-family-circularstd-bold: CircularStd-Bold;
  --font-family-rubik-light: Rubik-Light;
  --font-family-helvetica-bold: Helvetica-Bold;
  --font-style-: px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-30: 30px;
  --font-size-34: 34px;
  --font-size-36: 36px;
  --font-size-40: 40px;
  --font-size-42: 42px;
  --font-size-48: 48px;
  --font-size-50: 50px;
  --font-size-60: 60px;
  --character-spacing-0: 0px;
  --character-spacing-1-21: 1.21px;
  --character-spacing-1-13: 1.13px;
  --character-spacing--0-6: -0.6px;
  --line-spacing-0: 0px;
  --line-spacing-14: 14px;
  --line-spacing-16: 16px;
  --line-spacing-17: 17px;
  --line-spacing-18: 18px;
  --line-spacing-19: 19px;
  --line-spacing-20: 20px;
  --line-spacing-22: 22px;
  --line-spacing-24: 24px;
  --line-spacing-27: 27px;
  --line-spacing-30: 30px;
  --line-spacing-32: 32px;
  --line-spacing-33: 33px;
  --line-spacing-38: 38px;
  --line-spacing-40: 40px;
  --line-spacing-46: 46px;
  --line-spacing-50: 50px;
  --line-spacing-60: 60px;
  --line-spacing-64: 64px;
  --line-spacing-70: 70px;
}
